$main-background-color: #181721;
$header-background-color: #1d1c28;
$block-background-color: #2C2C32;

$white-color: #ffffff;
$grey-border: #c0c0c0;
$default-color: #cccccc;
$selected-color: #00E0C7;
