$main-background-color: #181721;
$header-background-color: #1d1c28;
$block-background-color: #2C2C32;
//

$selected-color: #ffffff;
$default-color: #ffffff;
$hidden-color: #64596E;
$black-color: #000000;
